.first-view{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    position: relative;
    @include tab{
        background-size: cover;
        background-position: left;
    }
    .fv__wrap{
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            text-align: center;
            @include tab{
                left: 50%;
                flex-direction: column-reverse;
                color: white;
            }
            .j-catch{
                font-size: 3.8rem;
                font-family: "MS Mincho";
                font-weight: bold;
                @include tab{
                    min-width: 267px;
                    font-size: 2.3rem;
                    width: 100%;
                }
            }
            .e-catch{
                font-size: 7.8rem;
                font-family: 'Pinyon Script', cursive;
                @include tab{
                    min-width: 260px;
                    font-size: 5rem;
                }
            }
        }
}